html {
  scroll-behavior: smooth;
} 

body {
  max-width: 375px;
  margin: auto;
  background: #FFF8F2;
  color: #4D480E;
  font-family: 'Archivo', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

header {
  color: #FFF8F2;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-shadow: black 1px 0 7px;
  font-size: 35px;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

header p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}

h1 {
  font-size: 50px;
  text-align: left;
  font-weight: 400;
  line-height: 50px;
  padding-top: 45px;
  margin-bottom: 15px;
  margin-top: 0;
}

h1 span {
  font-weight: 700;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

main p {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 60px;
}

main nav {
  background-image: url(../img/bg-nav.jpg);
  background-size: cover;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  padding: 15px;
  border-bottom: 2px solid #1E1E1E;
  position: sticky;
  top: 0;
}

hr {
  border: 1px solid #4D480E;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #1E1E1E;
}

a:active {
  color: #BF5B43;
}

footer {
  background-image: url(../img/bg-footer.jpg);
  background-size: cover;
  color: #FFF8F2;
  padding: 15px;
}

footer a {
  color: #FFF8F2;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.underline {
  margin-top: 0;
  margin-bottom: 0;
}

.box-title {
  margin-top: 60px;
  margin-bottom: 60px;
}

.box-schedule {
  margin-bottom: 0;
}

.box-schedule p {
  margin-bottom: 35px;
  padding-left: 50px;
}

.light-italic-block {
  opacity: 0.6;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 35px;
}

.street-food-text {
  font-size: 15px;
}

.street-food-line {
  margin-right: 160px;
}

.section-dark-title {
  text-align: center;
  color: #4D480E;
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: url(../img/svg/bg-title.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-dark {
  background-image: url(../img/bg-section-dark.jpg);
  background-size: cover;
  color: #D8D6BA;
}

.section-dark-left-padding {
  padding-left: 60px;
  padding-right: 15px;
}

.portrait-vertical {
  margin-left  : auto;
  width: 306px;
}

.portrait-horizontal {
  width:306px;
}

.icon-eye {
padding-left: 135px;
padding-right: 135px;
padding-bottom: 80px;
}

.main-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.banner-graffiti {
  margin-bottom: 0;
}

.copyright {
  font-size: 5px;
  font-weight: 700;
  opacity: 0.6;
  padding-top: 15px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}